.jsonTree {
  padding: 10px 14px;
  background-color: #171b20;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
}

.colPage {
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow-y: scroll !important;
}

.colPage::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.colPage::-webkit-scrollbar-thumb {
  background-color: #0066af71;
  border-radius: 3px;
}

.jsonObjectsWrapper {
  height: fit-content;
}

.pathWrapper {
  display: flex;
  align-items: center;
  margin: 10px 15px;
}

.pathLink,
.currentPathLink {
  cursor: pointer;
  margin: 0 7px;
  color: rgb(212, 212, 212);
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s ease;
}

.pathLink:hover {
  color: #fff;
}

.currentPathLink {
  cursor: initial;
  color: #fff;
}

.arrow {
  color: #0066af;
  width: 17px !important;
  height: 17px !important;
}

.pageHeader {
  width: fit-content;
  margin: 0;
}

.renameIcon {
  width: 20px !important;
  height: 20px !important;
  transition: 0.15s ease;
  cursor: pointer;
  margin-left: 4px;
  margin-top: 2px;
}

.renameIcon:hover {
  color: #0066af !important;
}

.rightPath {
  position: relative;
  display: flex;
  align-items: center;
}

.renameForm {
  height: 27px;
  transform: translateX(-5px);
}

.renameForm input {
  height: 27px;
  margin: 0px 7px;
  padding: 2px 5px;
  font-size: 20px;
  background-color: #1f242b;
  border: 0;
  outline: 0;
  color: #fff;
}

.editorWrapper {
  margin: 0 20px;
  margin-top: 15px;
  padding: 5px;
  background-color: #171b20;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
}

.pageHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageHeader button {
  color: rgb(196, 196, 196);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.534);
  border: 0;
  font-size: 18px;
  outline: 0;
  padding: 4px 10px;
  cursor: pointer;
  margin-right: 20px;
  transition: 0.14s ease;
  background-color: transparent;
}

.pageHeader button:hover {
  background-color: #171b20;
  color: #fff;
}

.activeBtn {
  background-color: #171b20 !important;
}

.insertEditorBottom {
  display: flex;
  margin-top: 4px;
  justify-content: flex-end;
}

.insertEditorBottom button {
  font-size: 18px;
  border-radius: 3px;
  background-color: transparent;
  padding: 3px 10px;
  cursor: pointer;
  color: #0066af;
  border: 1px solid #1f242b;
  margin-right: 4px 10px;
  outline: none;
  transition: 0.1s ease;
}

.insertEditorBottom button:hover {
  color: #fff;
}
