.pathWrapper {
  display: flex;
  align-items: center;
  margin: 10px 15px;
  height: 30px;
}

.pathLink,
.currentPathLink {
  cursor: pointer;
  margin: 0 7px;
  color: rgb(212, 212, 212);
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s ease;
}

.pathLink:hover {
  color: #fff;
}

.currentPathLink {
  cursor: initial;
  color: #fff;
}

.arrow {
  color: #0066af;
  width: 17px !important;
  height: 17px !important;
}

.pageHeader {
  margin: 4px 0 15px 20px;
  font-size: 23px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageHeader button {
  color: rgb(196, 196, 196);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.534);
  border: 0;
  font-size: 18px;
  outline: 0;
  padding: 4px 10px;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.14s ease;
  background-color: transparent;
}

.pageHeader button:hover {
  background-color: #171b20;
  color: #0066af;
}

.pageHeader p {
  margin: 0;

  width: fit-content;
}

.collectionsContainer {
  overflow-y: scroll;
}

.collectionsContainer::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.collectionsContainer::-webkit-scrollbar-thumb {
  background-color: #0066af71;
  border-radius: 3px;
}

.renameIcon {
  width: 20px !important;
  height: 20px !important;
  transition: 0.15s ease;
  cursor: pointer;
  margin-left: 4px;
  margin-top: 2px;
}

.renameIcon:hover {
  color: #0066af !important;
}

.renameForm {
  height: 27px;
  transform: translateX(-5px);
}

.renameForm input {
  height: 27px;
  /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.534); */
  margin: 0px 7px;
  padding: 2px 5px;
  font-size: 20px;
  background-color: #1f242b;
  border: 0;
  outline: 0;
  color: #fff;
}

.rightPath {
  position: relative;
  display: flex;
  align-items: center;
}
