.downArrow {
  transform: rotate(90deg);
}
.upArrow {
  transform: rotate(-90deg);
}

.heading {
  display: flex;
  margin-right: 30px;
}
.heading button {
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  height: 40px;
  font-size: 18px;
  color: rgb(214, 214, 214);
}

.headingName,
.headingDocs,
.headingSize {
  flex: 1;
  padding: 10px 20px;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headingName {
  justify-content: flex-start;
}

.headingDocs {
  padding-left: 95px;
}

.headingSize {
  padding-left: 0;
  padding-right: 50px;
}

.row,
.inpRow {
  cursor: pointer;
  background-color: #171b20;
  display: flex;
  padding: 15px;
  align-items: center;
  text-align: center;
  margin: 4px 10px;
  margin-bottom: 16px;
  margin-top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.438);
  font-weight: 400;
}

.inpRow {
  height: 40px;
  padding: 10px 15px;
}

.name {
  text-align: left;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.newInput {
  text-align: left;
  width: 100%;
  background-color: transparent;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #fff;
  outline: 0;
  border: 0;
}

.items {
  flex: 1;
}

.size {
  flex: 1;
}

.headingArrow {
  margin-left: 10px;
  color: #0066af;
}

.inpForm {
  flex: 1;
}

.deleteBtn,
.closeBtn {
  color: #0066af;
  display: grid;
  place-items: center;
  background-color: transparent;
  border: 0;
  outline: none;
  width: 30px;
  height: 30px;
  opacity: 0;
  cursor: pointer;
}

.row:hover .deleteBtn,
.inpRow:hover .closeBtn {
  opacity: 1;
}
